@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol{list-style: none;}

@media (max-width:599px) {
  #top{width: 100%; height: 640px; margin: 0 auto; position: relative; font-size: 16px;}
  header{width: 100%; height: 75px; z-index: 3; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; border-bottom: 1px solid #1B5E20; font-weight: bolder;}

  .logo img{width: 70px; height: 60px; float: left; margin-top: 12px; margin-left: 20px;}
  #b{margin-right: 20px;}

  header .small {width: 100%; display: flex; align-items: center; justify-content: space-between;}
  header #c a{padding: 15px; text-decoration: none; display:block; color: #ffffff; background-color: #1B5E20;}
  header #c a:hover {background-color: #ffffff; color:#1B5E20; text-decoration: none; display: block;}
   #a {display:none;}
   #c {display: none;}
   img {cursor: pointer;}
   .cart img{display: none;}
}

@media(min-width:600px) and (max-width:1099px){
  #top{width: 100%; height: 640px; margin: 0 auto; position: relative; font-size: 16px;}
  header{width: 100%; height: 75px; z-index: 3; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; border-bottom: 1px solid #1B5E20; font-weight: bolder;}

  .logo img{width: 70px; height: 60px; float: left; margin-top: 12px; margin-left: 20px;}
  #b{margin-right: 20px;}

  header .small {width: 100%; display: flex; align-items: center; justify-content: space-between;}
  header #c a{padding: 15px; text-decoration: none; display:block; color: #ffffff; background-color: #1B5E20;}
  header #c a:hover {background-color: #ffffff; color:#1B5E20; text-decoration: none; display: block;}
   #a {display:none;}
   #c {display: none;}
   img {cursor: pointer;}
   .cart img{display: none;}
}

@media(min-width:1100px){
  #top{width: 100%; height: 640px; margin: 0 auto; position: relative; font-size: 16px;}
  header{width: 100%; height: 70px; z-index: 3; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; border-bottom: 1px solid #1B5E20; font-weight: bolder;}
  #headersub{width: 1100px; height: 100%; margin: 0 auto;}

  .logo img{width: 70px; height: 60px; float: left; margin-top: 10px; margin-left: 50px;}
  .cart img{width: 30px; height: 30px; }

  header .small{width: 100%; display: flex; align-items: center; justify-content:flex-start;}
  header a{padding: 25px; text-decoration: none; color: #ffffff; text-align: center; width: 100%;}
  header a:hover {background:none; color:#1B5E20;}
   #b,#c {display: none;}
   #a {display:block;}
}