@charset "UTF-8";

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{width: 100%; height: 100%; background-color: #212121;}

#bnbox{width: 100%; height: 640px; margin: 0 auto; z-index: 1; position: relative; top: 0; left: 0; overflow: hidden;}

.cover{width: 100%; height: 100%; background-color: #000; opacity: 0.6; position: absolute; top: 0; left: 0;}

.slide{width: 300vw;}
.slide li{width: 100vw; height: 640px; float: left;}
.slide li img{width: 100%; height: 100%;}

.f{position: absolute; width: 100%; height: 100%; }
.f h3{color: white; text-align: center; font-size: 35px; margin-top: 220px; font-family: 'Script MT';}
.f p{color: #1B5E20; text-align: center; font-family: 'S-CoreDream-9Black'; font-size: 60px; margin-top: 15px;}


#mainbox1{width: 100%; height: 180px; position: relative;}

#m1box{width: 70%; height: 100%; display: flex; flex-flow: row wrap; justify-content: space-around; padding: 50px; background-color: black;}
#m1box img{width: 20px; height: 20px; float: left; margin-left: -30px; margin-top: 5px;}

.fbox1{width: 220px; height: 0 auto;}
.fbox1 h3{color: white; font-size: 18px; margin-bottom: 15px;}
.fbox1 span{color: gray; font-size: 15px;}


.m2{width: 30%; height: 300px ; background-color: #1B5E20; position: absolute; top: -120px; right: 0; z-index: 6;}



#mainbox2{width: 100%; height: 580px; background-color: lightgreen;}

#mainbox3{width: 100%; height: 470px; background-color: lightgrey;}

#mainbox4{width: 100%; height: 700px; background-color: lightskyblue;}

#mainbox5{width: 100%; height: 360px; background-color: lightyellow;}

#mainbox6{width: 100%; height: 700px; background-color: lightpink;}

#mainbox7{width: 100%; height: 280px; background-color: lightseagreen;}

#mainbox8{width: 100%; height: 700px; background-color: lightslategray;}

#mainbox9{width: 100%; height: 700px; background-color: lightsteelblue;}
